@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
          margin-bottom: 20px!important;
    }
    .page-link{
            padding: 10px!important;
         }

    .dataTables_info{
       display: none!important;
    }

    .dataTables_paginate{
        float: right!important;
    }

    .list-image{
       width: 50px!important;
       height: 50px!important;
       border-radius: 50%;
    }
}

@media screen and (min-width: 768px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      margin-bottom: 20px!important;
    }

   

        page-link{
            padding: 10px!important;
         }


}



.nav-link{
      color: #FFFFFF!important;
}

.data-table{
	width: 100%!important;
}





.select2
{
	width: 100%!important;
}

.alert-danger
{
	background: transparent!important;
	border: none!important;
	color: red!important;
}


.category-table{
	margin-top: 10px!important;
}

.loader-image
{   
    display: block;
    margin-left: auto;
     margin-right: auto;
	width: 100px;
	height: auto;
	margin-top: 10px!important;
}

td{
	text-align: center;
}

th{
	text-align: center;
}

.add-new
{
	float: right!important;
}

.no-data{
	text-align: center;
}



.action-btn{
	margin-top: 5px;
}



.required{
	color: red;
}

.action-button{
	margin-top: 5px!important;
}

.dataTables_paginate{
    float: right!important;
}


.product-image{
   width: 60px;
   height: 60px;
}

.button-product-filters{
  gap: 10px!important;
}

.list-image{
   width: 60px!important;
   height: 60px!important;
   border-radius: 50%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#yt-video-section{
   display: none;
}

#custom-video-section
{
   display: none;
}

#image-previews {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .preview-image {
        max-width: 100px;
        max-height: 100px;
    }




.drop-container {
    border: 2px solid #3498db;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.preview-image {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-image img {
    max-width: 100%;
    height: auto;
}

#file-input {
    display: none; /* Hide the default file input */
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button{
   cursor: pointer;
}


.dislike{
  color: red;
}

.like{
  color: green;
}